extends layout

block content
  .main.container
    .row
      .col-md-8.col-md-offset-2
        h1.display-4.m-b-2 About Us
        p Foogle is a new search engine created to only index the most relevant development resources on the net.
        p You and the awesome community will keep indexing awesome content onto foogle providing great resources for the rest of us

        a.btn.btn-info-outline.btn-lg.m-t-1(href='/register') Start searching today
